html {
  background-color: #0B192C;
}

h1 {
  font-size: 3rem;
}

#header {
  background-color: #1E3E62;
  width: 100%;
  height: 7.5%;
  text-transform: uppercase;
  font-family: "Cabin", sans-serif;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
}
.link {
  padding: 40px;
}

#title {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  text-shadow: 3px 3px #64310f;
  color: #FF6500;
  text-align: left;
  position: absolute;
  top: 150px;
  left: 150px;
}

.tablink {
  color: black;
  text-decoration: none;
  padding: 15px;
}

.tablink:hover {
  color: #FF6500; 
  text-decoration:none; 
  cursor:pointer;  
}

#logo {
  padding: 15px;
  text-align: left;
  position: absolute;
  left: 10px;
}

